body{
    background-color: black;
    font-family: "Inter", sans-serif;
}

.main-header{
    display: flex;
    width: 100%;
    justify-content: center;
   
    
}

.content{
    color: white;
    width: 100%;
    text-align: center;
    max-height: 800px;
    margin-bottom: 350px;
    
}

#name{
    font-weight: 400;
    font-size: 36px;
    padding: 20px;
}

.selfie{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
}

.text-container{
    max-width: 500px;
    justify-content: center;
    margin:0 auto;
    font-weight: 400;
    color: gray;
    margin-bottom: 40px;
    
}

.socials{
    display: grid;
    grid-template-columns: 12px 12px 12px 12px;
    gap: 60px;
    justify-content: center;
    
}

#footer{
    color: white;
    text-align: center;
    font-weight: 100;
    
    
   
}
